<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Cadastro</title>
</head>
<body>

 <nav>
    <div class="nav-wrapper orange darken-2">
      <a href="#" class="brand-logo center">Cadastro de itens </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/consulta}">Consulta</a></li>
      </ul>
    </div>
  </nav>
    
    
    <div class="row">
    <div class="col s12">
      <div class="card-panel teal">
       <form th:action="@{/cadastro}" method="post">
    	<label for="iddescricao">Descrição</label>
        <input id="iddescricao" type="text" placeholder="Descrição do item" name="descricao" />
    
    	<label for="iddimensao">Dimensão</label>
        <input id="iddimensao" type="text" placeholder="Dimensão do item" name="dimensao" />
        
        <label for="idcomodo">Cômodo</label>
        <input id="idcomodo" type="text" placeholder="Cômodo para guardar o item" name="comodo" />
        
        <button class="btn waves-effect waves-light orange darken-2">Salvar</button>
        
    </form>
      </div>
    </div>
  </div>
    

</body>
</html>